body {
    margin: auto auto;
    background-color: rgba(0, 0, 0, 0.13);
}
h1 {
    text-align: center;
}
footer {
    background-color: black;
}
.game-heading {
    position: relative;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.game-info {
    margin: auto;
    width: 100%;
}
.game-info p {
    padding: 15px;
    width: 50%;
    margin: auto;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
}
.board {
    max-width: 295px;
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 5px;
    padding: 15px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: white;
}
.board-letter {
    height: 45px;
    width: 45px;
    font-size: 30px;
    text-transform: uppercase;
    border: 3px solid #000000;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.correct {
    background-color: #005d0a;
    color: #ffffff;
}
.close {
    background-color: #d3a001;
    color: #ffffff;
}
.wrong {
    background-color: #5d5d5d;
    color: #ffffff;
}
.ref {
    font-weight: bold;
}